body,html{
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei",Arial,sans-serif !important;
    color:#222222;
    font-size:14px;
  }
  body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,
legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,
figcaption,figure,footer,header,hgroup,menu,nav,section{
  margin: 0;
  padding:0;
}
@each $header, $size in $headings {
    #{$header} {
      font-size:$size
    }
  }

input,button,select,textarea{
    outline:none
  }
  textarea{
    resize:none
  }

  a,
a:focus,
a:visited{
  text-decoration: none;
  color:#222222;
}
ul{
  >li{
    list-style: none;
  }
}
.leftList{
    >li{
        float:left;
    }
    &:after{
        @include closeFloat;
    }
}
.closeDiv{
  &:after{
    @include closeFloat;
  }
}
.left{
  float:left;
}
.right{
  float:right;
}